/* global variables */
:root {
  --cog-orange:       #FF7800;
  --cog-dark-orange:  #803c00;
}

/* Global */

input, textarea {
  box-shadow: none !important;
}

form label {
  width: 140px;
}

/* Navbar */
.name.navbar-brand {
  margin-bottom: 20px;
  padding-left: 0px;
  font-size: 34px;
}

/* main menu text */
#main-menu .container ul.menu li > a {
  font-family: Helvetica, sans-serif !important;
  padding: 12px 14px;
  color: white;
  text-transform: none;;
  font-size: 1.024em;
}

/* re-color menu highlights */
.site-name > a {
  font-size: 2.2em;
}

#main-menu .container ul.menu li .is-active {
  background: var(--cog-orange);
}

#main-menu .container ul.menu li:hover > a {
  background: var(--cog-orange);
}

#main-menu .container ul.menu li:focus > a {
  background-color: var(--cog-orange);
}

#main-menu .container ul.menu li.menu-item--active-trail > a {
  background: var(--cog-orange);
}

/* re-color links on hover, focus, etc */
a, a:visited, #main .container .content .views-row:hover h2 a, #main .container .content .views-row:focus h2 a {
  color: var(--cog-orange);
}

a:hover, a:focus, a:focus-within, a:active,
#main .container .content .views-row:hover h2 a, #main .container .content .views-row:focus h2 a:hover,
#main .container .content .views-row:hover h2 a, #main .container .content .views-row:focus h2 a:focus,
#main .container .content .views-row:hover h2 a, #main .container .content .views-row:focus h2 a:focus-within,
#main .container .content .views-row:hover h2 a, #main .container .content .views-row:focus h2 a:active {
  color: var(--cog-dark-orange);
  text-decoration: underline !important;
}

/* re-color buttons */
.form-actions .form-submit, #edit-submit {
  background: var(--cog-orange) !important;
}

/* Slideshow */
body > div.dialog-off-canvas-main-canvas > div > div > div[role="heading"]{
  margin-bottom: 20px;
}

/* Hide search help */
#edit-help-link, #edit-advanced {
  display: none;
}

/* Hide unused */
.feed-icons,
#footer nav {
  display: none;
}
